<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Admin Panel</h3>
            </div>
            <div class="panel-body row">
                <div class="center-block">
                    <a href="#/make/admin" class="btn btn-primary center-btn">Make Admin</a>
                    <a href="#/projects/add" class="btn btn-primary center-btn">Add Project</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4"></div>
</div>